{% extends 'core/base.html' %}
{% load static %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/about.css' %}" />

{% block content %}

<section class="quienessomos-container">
    <article class="information-card-quienes">
        <h2>¿Quiénes somos?</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus recusandae repellat soluta pariatur ab magnam 
            cupiditate commodi suscipit aut eos quidem fugiat aliquid 
            officia nobis dolore nisi, dicta eius doloribus?
        </p>
    </article>
    <article class="information-card-quienes">
        <h2>Nuestro compromiso con nuestros clientes</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus recusandae repellat soluta pariatur ab magnam 
            cupiditate commodi suscipit aut eos quidem fugiat aliquid 
            officia nobis dolore nisi, dicta eius doloribus?
        </p>
    </article>
    <article class="information-card-quienes">
        <h2>Servicios</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus recusandae repellat soluta pariatur ab magnam 
            cupiditate commodi suscipit aut eos quidem fugiat aliquid 
            officia nobis dolore nisi, dicta eius doloribus?
        </p>
    </article>
    <article class="information-card-quienes">
        <h2>Garantías</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus recusandae repellat soluta pariatur ab magnam 
            cupiditate commodi suscipit aut eos quidem fugiat aliquid 
            officia nobis dolore nisi, dicta eius doloribus?
        </p>
    </article>
    <article class="information-card-quienes">
        <h2>Refacciones</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Natus recusandae repellat soluta pariatur ab magnam 
            cupiditate commodi suscipit aut eos quidem fugiat aliquid 
            officia nobis dolore nisi, dicta eius doloribus?
        </p>
    </article>
</section>

{% endblock %}