{% extends 'core/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}" /> 
{% block content %}
<h1 class="text-center" style="margin-top: 100px;">Ven y conocenos en nuestras sucursales o contactanos por telefono</h1>
<div class="container">
    <div class="row">
      <div class="col-sm">
        Sucursal Abastos<br>
        Av. Abastos 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Americas<br>
        Av. Americas 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Zona Industrial<br>
        Av. Ferrocarril 1005<br>
        tel.44455566
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        Sucursal Abastos<br>
        Av. Abastos 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Americas<br>
        Av. Americas 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Zona Industrial<br>
        Av. Ferrocarril 1005<br>
        tel.44455566
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        Sucursal Abastos<br>
        Av. Abastos 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Americas<br>
        Av. Americas 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Zona Industrial<br>
        Av. Ferrocarril 1005<br>
        tel.44455566
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
        Sucursal Abastos<br>
        Av. Abastos 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Americas<br>
        Av. Americas 1005<br>
        tel.44455566
      </div>
      <div class="col-sm">
        Sucursal Zona Industrial<br>
        Av. Ferrocarril 1005<br>
        tel.44455566
      </div>
    </div>
</div>
{% endblock %}